<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许读取wifi网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许 弹出系统级别的AlterDialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application android:name=".SampleApplication">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="com.example.myapplication.GlideCacheModule"
            android:value="GlideModule" />

        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5a11af751e91c42f39dbb8d007063cbcfc92570f" />

        <activity
            android:name=".multistate.BaseActivity"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".multistate.FirstActivity"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".multistate.TestActivity"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".zoomtest.ZoomImageActivity"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".matrixtest.MatrixTestActivity"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".zoomtest.EffectImageViewActivity"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity1"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity2"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity3"
            android:theme="@style/TestToolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity4"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity5"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity6"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".refresh.RefreshLoadActivity"
            android:theme="@style/Toolbar.Theme" />
        <activity
            android:name=".coordinator.CoordinatorActivity7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".coordinator.CoordinatorActivity8"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".coordinator.CoordinatorActivity9"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.FirstActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.SecondActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.ViewPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".recyclerview.RvTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".singleton.SingletonActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".network.NetworkConnectChangedReceiver" />

        <activity
            android:name=".network.NetworkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BuglyTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.example.myapplication.fileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths" /> -->
        <!-- </provider> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".layouts.MergeTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".layouts.ViewStubActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".constraints.ConstraintActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".javatest.JavaTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SaveTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ConfigChangeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".recyclerview.NestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment2.FragmentTestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment3.ConfigChangeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.BannerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.BannerActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.DotActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".browse.BrowseActivity1"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.czl.browse1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browse.BrowseActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.czl.browse2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browse.BrowseActivity3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".greendaotest.GreenDaoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screenchange.ScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- android:theme="@style/AppTheme.Slide" /> -->
        <activity
            android:name=".screenchange.ScreenActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- android:theme="@style/AppTheme.Slide" /> -->
        <activity
            android:name=".multiclick.MultiClickActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".screenchange.BaseActivity" />
        <activity
            android:name=".activity.DefineToastActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LaunchModelActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.StandardActivity"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SingleTopActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SingleTaskActivity1"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SingleTaskActivity2"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.application.czl"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.NewTaskActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MiddleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ConstraintActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.BannerTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ScrollViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.GitUsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.FragmentLifeCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.FragmentLifeCycleActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.DispatchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".album.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.GroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".permission.PermissionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".permission.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dispatch.DispatchActivity6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ImageLayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ImageCompressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CacheImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LifeCycleActivity1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LifeCycleActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.DialogTestActivity"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".activity.ServiceTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".activity.DemoService"
            android:description="@string/string_help_text"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"
            android:label="demoservice">
            <intent-filter android:priority="1000">
                <action android:name="com.example.myservice" />
            </intent-filter>
        </service>
    </application>

</manifest>